

<div class="pull-right">
  <%= link_to("Add new product", new_admin_product_path, :class => "btn btn-primary") %>
</div>
<br>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <td>#</td>
      <td>名称</td>
      <td>描述</td>
      <td>库存</td>
      <td>价格</td>
      <td>选项</td>
      <td>创建时间</td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.quantity %></td>
      <td><%= product.price %></td>
      <td>
        <%= link_to("编辑", edit_admin_product_path(product), class: "btn btn-sm btn-primary") %>
        <%= link_to("删除", admin_product_path(product), class: "btn btn-sm btn-primary") %>
      </td>
      <td><%= product.created_at %></td>
    </tr>
    <% end %>
  </tbody>

</table>
