<h2>Add new product</h2>

<%= simple_form_for [:admin, @product] do |f| %>
<%= f.input :title, :label => "名称:" %>
<%= f.input :description, :label => "商品描述:" %>
<%= f.input :quantity, :label => "库存:" %>
<%= f.input :price, :label => "价格:" %>
<%= f.input :image, as: :file %>
<%= f.submit "Submit", class: "btn btn-md btn-primary" %>
<% end %>
